<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Moh Arif Jauhari</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/fontawesome-free/css/all.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/resume.css" rel="stylesheet">
</head>

<body>




    

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.js"></script>
</body>

</html>